<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="styles.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
    <div class="container">
        <div class="jumbotron text-center">
            <h1>Mission to Mars</h1>
            <p><a class="btn btn-primary btn-lg" href="/scrape" role="button">Scrape new data</a></p>
        </div>
    </div>
    <div class="container">
      <div class="row">
        <div class = col>
          <h2>Latest Mars News</h2>
          <p><b>{{mars.news_title}}</b></p>
          <p>{{mars.news_p}}</p>
        </div>
      </div>
      <div class = "row">
        <div class="col-sm-8" id="featured">
          <h2>Featured Mars Image</h2>
          <img src = "{{mars.featured_image_url}}" height = 550px width = 600px>
        </div>
        <div class="col-sm-4" id="marsfacts">
          <p><b>Mars Facts</b></p>
          <div class="table-responsive">
            <table class="table table-striped">
              <thead>
                <tr style="text-align: right;">
                  <th></th>
                  <th>Mars</th>
                </tr>
                <tr>
                  <th></th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <th>Equatorial Diameter:</th>
                  <td>6,792 km</td>
                </tr>
                <tr>
                  <th>Polar Diameter:</th>
                  <td>6,752 km</td>
                </tr>
                <tr>
                  <th>Mass:</th>
                  <td>6.39 × 10^23 kg (0.11 Earths)</td>
                </tr>
                <tr>
                  <th>Moons:</th>
                  <td>2 (Phobos &amp; Deimos)</td>
                </tr>
                <tr>
                  <th>Orbit Distance:</th>
                  <td>227,943,824 km (1.38 AU)</td>
                </tr>
                <tr>
                  <th>Orbit Period:</th>
                  <td>687 days (1.9 years)</td>
                </tr>
                <tr>
                  <th>Surface Temperature:</th>
                  <td>-87 to -5 °C</td>
                </tr>
                <tr>
                  <th>First Record:</th>
                  <td>2nd millennium BC</td>
                </tr>
                <tr>
                  <th>Recorded By:</th>
                  <td>Egyptian astronomers</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <div class="container" id="hemispheres">
        <h2 style="text-align: center">Mars hemispheres</h2>  
        <div class="row">
          <div class="col" id="hemisphere">
            <style>
              h3 {
                font-size: 15px;
              }
              .col {
                text-align: center;
              }
            </style>
            <h3>{{ mars["valles_marineris_title"] }}<br></h3>
            <img src="{{ mars["valles_marineris_img_url"] }}" height = 400px width = 400px>
          </div>
          <div class="col">
            <h3>{{ mars["cerberus_title"] }}<br></h3>
            <img src="{{ mars["cerberus_img_url"] }}" height = 400px width = 400px>
          </div>
          <div class="w-100"></div>
          <div class="col">
            <h3>{{ mars["schiaparelli_title"] }}<br></h3>
            <img src="{{ mars["schiaparelli_img_url"] }}" height = 400px width = 400px>
          </div>
          <div class="col">
            <h3>{{ mars["syrtis_major_title"] }}<br></h3>
            <img src="{{ mars["syrtis_major_img_url"] }}" height = 400px width = 400px>
          </div>
        </div>
      </div>
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>